<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174805097969-qt3kt25bjtc9m1bh722mgb2blsri6e1d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174805097969-qt3kt25bjtc9m1bh722mgb2blsri6e1d</string>
	<key>API_KEY</key>
	<string>AIzaSyAj72coW1c-E4v54-DQaOEY9MlUQ1ly_Ss</string>
	<key>GCM_SENDER_ID</key>
	<string>174805097969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appCronogramaReceitas</string>
	<key>PROJECT_ID</key>
	<string>app-cronograma-de-receitas</string>
	<key>STORAGE_BUCKET</key>
	<string>app-cronograma-de-receitas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174805097969:ios:99dd60340b708e1410b850</string>
</dict>
</plist>